@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 通过强制固定窗口尺寸, 以修复在弹出Antd.Message时Chrome无法收缩窗口的bug. */
  html, body {
    min-width: 800px;
    min-height: 600px;
    width: 800px;
    height: 600px;
    overflow: hidden;
  }
}

@layer utilities {
  .bg-transparent-fake {
    background-image:
      linear-gradient(45deg, #b0b0b0 25%, transparent 25%),
      linear-gradient(-45deg, #b0b0b0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #b0b0b0 75%),
      linear-gradient(-45deg, transparent 75%, #b0b0b0 75%);
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    background-size: 20px 20px;
  }
}
